@model AmazonCloneMVC.Models.Categorie

@{
    ViewData["Title"] = "Edit";
}

<style>
    h1 {
        color: #ffc107; 

    h4 {
        font-size: 1.5em; 
    }

    .row {
        margin-bottom: 20px; 

    .btn-primary {
        background-color: #007bff; 
        border-color: #007bff;
    }

</style>

<h1>Edit</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategorieID" />
            <div class="form-group">
                <label asp-for="NomCategorie" class="control-label"></label>
                <input asp-for="NomCategorie" class="form-control" />
                <span asp-validation-for="NomCategorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
